html, body {
	text-align: center;
	height: 100%;
	background: #e74c3c;
}

.cross {
	opacity: .35;
	zoom: 120%;
	overflow: hidden;
	z-index:-1;
}
.noflow {
	overflow: hidden;
	height: 540px;
	position: absolute;
	left:0;
	bottom:0;
	margin-left:-50px;
}


@media only screen and (max-width: 768px) {
}
