html, body {
	text-align: center;
	height: 100%;
	background: #ff0000;
}

.emergency {
	margin-top: 1px;
	height: 50%;
	padding: 0;
	color: white;
	background: #e74c3c;
	border: 0;
	width: 100%;
}
.emergency:hover {
	background: red;
}

.rejection {
	padding: 0;
	color: white;
	background: #27ae60;
	border: 0;
	height: 50%;
}
.rejection:hover {
	background: #2ecc71;
}


.depression {
	padding: 0;
	color: white;
	background: #2980b9;
	border: 0;
	height: 50%;
}
.depression:hover {
	background: #3498db;
}

.relapsed {
	padding: 0;
	color: white;
	background: #8e44ad;
	border: 0;
	height: 50%;
}
.relapsed:hover {
	background: #9b59b6;
}



@media only screen and (max-width: 768px) {
	.emergency {
		height: 40%;
	}
	.rejection {
		height: 15%;
	}
	.depression {
		height: 30%;
	}
	.relapsed {
		height: 15%;
	}
}



