html, body {
	text-align: center;
	height: 100%;
}
.emergency {
	height: 50%;
	padding: 0;
	color: white;
	background: #e74c3c;
	border: 0;
	width: 100%;
}
.emergency:hover {
	background: red;
	text-shadow: 2px ;
}
.rejection {
	padding: 0;
	color: white;
	background: #27ae60;
	border: 0;
	height: 50%;
}
.rejection:hover {
	background: #2ecc71;
}
.depression {
	padding: 0;
	color: white;
	background: #2980b9;
	border: 0;
	height: 50%;
}
.depression:hover {
	background: #3498db;
}
.relapsed {
	padding: 0;
	color: white;
	background: #8e44ad;
	border: 0;
	height: 50%;
}
.relapsed:hover {
	background: #9b59b6;
}
.suggest {
	padding: 0;
	color: white;
	background: #f39c12;
	border: 0;
	height: 15%;
}
.suggest:hover {
	background: #f1c40f;
}
.cross {
	height: 50%;
	margin-right: 5%;
	margin-bottom: 2%;
}
.about {
	opacity: .7;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-top: 13px;
	margin-right: 13px;
	padding-left: 11px;
	padding-bottom: 11px;
	cursor:pointer;
	font-size: 1.1em;
}
.footer {
	text-wrap: unrestricted;
	padding-bottom: 5px;
	font-size: 1.05em;
	vertical-align: middle;
}
@media only screen and (max-width: 768px) {
	.emergency {
		height: 40%;
	}
	.rejection {
		height: 15%;
		width: 100%;
	}
	.depression {
		height: 30%;
		width: 100%;
	}
	.relapsed {
		height: 15%;
		width: 100%;
	}
	.cross {
		margin-right: 2%;
	}
	.suggest {
		display: none;
	}
	#hint {
		display: none;
	}
	.about {
		display: none;
	}
}
