html, body {
	text-align: center;
	height: 100%;
}
.emergency {
	/*margin-top: 1px;*/
	height: 50%;
	padding: 0;
	color: white;
	background: #e74c3c;
	border: 0;
	width: 100%;
}
.emergency:hover {
	background: red;
	text-shadow: 2px ;
}
.rejection {
	padding: 0;
	color: white;
	background: #27ae60;
	border: 0;
	height: 50%;
}
.rejection:hover {
	background: #2ecc71;
}
.depression {
	padding: 0;
	color: white;
	background: #2980b9;
	border: 0;
	height: 50%;
}
.depression:hover {
	background: #3498db;
}
.relapsed {
	padding: 0;
	color: white;
	background: #8e44ad;
	border: 0;
	height: 50%;
}
.relapsed:hover {
	background: #9b59b6;
}
.cross {
	height: 50%;
	margin-right: 5%;
	margin-bottom: 2%;
}
.about {
	opacity: .7;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	cursor:pointer;

}
@media only screen and (max-width: 768px) {
	.emergency {
		height: 40%;
	}
	.rejection {
		height: 15%;
	}
	.depression {
		height: 30%;
	}
	.relapsed {
		height: 15%;
	}
	.cross {
		margin-right: 2%;
	}
	.about {
		display: none;
	}
}
