body,
html {
  text-align: center;
  height: 100%;
  -webkit-user-select: none
}

.pbutton {
  height: 50%;
  padding: 0;
  color: #fff;
  border: 0
}

#emergency {
  background: #e74c3c
}

#emergency:hover {
  background: red;
  text-shadow: 2px
}

#rejection {
  background: #27ae60
}

#rejection:hover {
  background: #2ecc71
}

#depression {
  background: #2980b9
}

#depression:hover {
  background: #3498db
}

#relapsed {
  background: #8e44ad
}

#relapsed:hover {
  background: #9b59b6
}

.footer-button {
  height: 15%;
  padding: 0;
  color: #fff;
  border: 0;
  z-index: 2
}

#nofap {
  background: #b1d7de
}

#nofap:hover {
  background: #ecf5fe
}

#suggest {
  background: #2a3b4c
}

#suggest:hover {
  background: #34495e
}

#ios {
  background: #9fadae
}

#ios:hover {
  background: #ecf0f1
}

#android {
  background: #7f8c8d
}

#android:hover {
  background: #bdc3c7
}

.app-icon {
  max-width: 135px;
  max-height: 40px
}

.cross {
  height: 50%;
  margin-right: 4%;
  margin-left: -2%;
  margin-bottom: 3%
}

.nficon {
  height: 50%
}

#footer {
  text-wrap: unrestricted;
  padding-bottom: 5px;
  font-size: 1.05em;
  vertical-align: middle;
  color: #999999;
  z-index: 4
}

#bookmark {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  background: #73716e;
  padding: 3.5px 0;
  padding-bottom: 7px;
  color: #fff;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  width: 27px;
  height: 27px;
  overflow: hidden;

  -webkit-transition: height 0.5s, width 0.5s ease 0.25s;
  transition: height 0.5s, width 0.5s ease 0.25s;
}

#bookmark i {
  position: relative;
  left: 0;
  padding: 0 7.5px;
}

#bookmark.hover {
  background: #8B8986;
  width: 152px;
  height: 170px;

  -webkit-transition: width 0.5s, height 0.5s ease 0.25s;
  transition: width 0.5s, height 0.5s ease 0.25s;
}

#bookmark .bkcheck .icheckbox_line-grey {
  border-radius: 0;
}

#bklink input {
  background: #53514e;
  border: none;
  height: 27px;
  padding: 10px;
  font-size: 10px;
  width: 100%;
}

#religious {
  position: fixed;
  right: 20px;
  top: 47px;
  z-index: 3;

  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

#religious.bkhover {
  top: 180px;

  -webkit-transition: top 0.5s ease 0.25s;
  transition: top 0.5s ease 0.25s;
}

#mobilereligious {
  display: none;
}

@media only screen and (max-width:768px) {
  .pbutton {
    width: 100%
  }
  #emergency {
    height: 40%
  }
  #rejection,
  #relapsed {
    height: 15%
  }
  #depression {
    height: 30%
  }
  .cross {
    margin-right: 3%
  }
  #hint,
  #religious,
  #ios,
  #android,
  #footer {
    display: none
  }
  #mobilereligious {
    position: fixed;
    top: 8px;
    right: 8px;
    display: inline;
    z-index: 3
  }
}
