body,
html {
  text-align: center;
  height: 100%;
  -webkit-user-select: none
}

.pbutton {
  height: 50%;
  padding: 0;
  color: #fff;
  border: 0
}

#emergency {
  background: #e74c3c
}

#emergency:hover {
  background: red;
  text-shadow: 2px
}

#rejection {
  background: #27ae60
}

#rejection:hover {
  background: #2ecc71
}

#depression {
  background: #2980b9
}

#depression:hover {
  background: #3498db
}

#relapsed {
  background: #8e44ad
}

#relapsed:hover {
  background: #9b59b6
}

.footer-button {
  height: 15%;
  padding: 0;
  color: #fff;
  border: 0;
  z-index: 2
}

#nofap {
  background: #b1d7de
}

#nofap:hover {
  background: #ecf5fe
}

#suggest {
  background: #2a3b4c
}

#suggest:hover {
  background: #34495e
}

#ios {
  background: #9fadae
}

#ios:hover {
  background: #ecf0f1
}

#android {
  background: #7f8c8d
}

#android:hover {
  background: #bdc3c7
}

.app-icon {
  max-width: 135px;
  max-height: 40px
}

.cross {
  height: 50%;
  margin-right: 4%;
  margin-left: -2%;
  margin-bottom: 3%
}

.nficon {
  height: 50%
}

#footer {
  text-wrap: unrestricted;
  padding-bottom: 5px;
  font-size: 1.05em;
  vertical-align: middle;
  color: #999999;
  z-index: 4
}

#bookmark-container {
  position: fixed;
  right: 20px;
  top: 47px;
  z-index: 3;
}

#bookmark {
  background: #73716e;
  padding: 3.5px 0;
  padding-bottom: 7px;
  color: #fff;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  width: 27px;
  height: 27px;
  overflow: hidden;

  -webkit-transition: height 0.5s, width 0.5s ease 0.25s;
  transition: height 0.5s, width 0.5s ease 0.25s;
}

#bookmark > i {
  position: relative;
  left: 0;
  padding: 7.5px;
  padding-top: 0;
}

#bookmark.hover > i {
  width: 100%;
}

#bookmark:hover {
  background: #8B8986;
}

#bookmark.hover {
  background: #8B8986;
  width: 152px;
  height: 163px;

  -webkit-transition: width 0.5s, height 0.5s ease 0.25s;
  transition: width 0.5s, height 0.5s ease 0.25s;
}

#bookmark .bkcheck .icheckbox_line-grey {
  border-radius: 0;
}

#religious .icheckbox_line-grey {
  border-radius: 3px 3px 0 3px;
}

#religious.bkhover .icheckbox_line-grey {
  border-radius: 3px 3px 0 0;
}

#bklink {
  background: #53514e;
  height: 28px;
  width: 100%;
}

#bklink a {
  margin-right: 20px;
}

/* Hide original link text, to have different link text vs bookmark text.
Also a hacky fix for Vivaldi's link text select (instead of drag) 'feature' */

#bklink a span {
  display: none;
}

#bklink a::after {
  content: "Bookmark";
  display:inline-block;
  text-decoration: none;
  margin-top: 2px;
  background: #244b78;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}

#bklink a:hover::after {
  background: #0e345e;
}

#bklink a.invalid::after {
  background: #e74c3c;
}

#bklink a.invalid:hover::after {
  background: red;
}

#bkhelp {
  padding: 5px;
}

#bkhelp:hover {
  color: #c9c9c9;
}

#bklink .dialog {
  display: none;
  position: absolute;
  left: -10px;
  right: -10px;
  z-index: 20;
  padding: 10px;
  overflow-x: visible;

  background: #63615e; 
  border-radius: 5px;
  color: white !important;
}

#religious {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
}

#mobilereligious {
  display: none;
}

@media only screen and (max-width:768px) {
  .pbutton {
    width: 100%
  }
  #emergency {
    height: 40%
  }
  #rejection,
  #relapsed {
    height: 15%
  }
  #depression {
    height: 30%
  }
  .cross {
    margin-right: 3%
  }
  #hint,
  #religious,
  #bookmark-container,
  #ios,
  #android,
  #footer {
    display: none
  }
  #mobilereligious {
    position: fixed;
    top: 8px;
    right: 8px;
    display: inline;
    z-index: 3
  }
}
